body {
    background-color: rgb(179, 217, 255);
}
/* .container {
    margin: auto;
} */

.card {
    width: 85%;
    box-shadow: 10px 10px 40px;
}
.rounded {
    border-radius: 10px !important;
}

#output {
    display: none;
}